@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic-white: #ffffff;
  --basic-white-transparent-50: rgba(255, 255, 255, 0.5);
  --basic-white-transparent-30: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --basic-black-transparent-1: rgba(0, 0, 0, 0.01);
  --basic-black-transparent-30: rgba(0, 0, 0, 0.3);
  --basic-red: #EE3643;
  --basic-red-dark: #BA2732;
  --basic-red-light: #CA2C37;


  --color-blackdark: #161D29;
  --color-blackdarken: #1D2739;

  --special-blue-sky: #3BBCE3;
  --basic-blue: #3D546F;
  --basic-blue-dark: #32425C;
  --basic-blue-darken: #293449;

  --basic-social-color: #212A3A;

  --special-pink: #DC91D8;
  --special-green: #8ED78F;

  --basic-green: #63A63E;
  --basic-green-light: #5FBB2D;
  --basic-green-dark: #518534;

  --special-yellow-dark: #FFC047;
  --special-yellow: #FFBF47;
  --special-yellow-light: #FFD180;

  --basic-grey: #C5C5C5;
  --basic-grey-light: #F1F5F7;
  --basic-grey-lighten: #E5E5E5;
  --basic-grey-dark: #B5B5B5;

  --old-price-color: #A9A9A9;

  --basic-boxshadow-color: #EAEAEA;

  --basic-section-header-bgcolor: #F9F5F0;
  --basic-flax-color: #F7F3EC;

  --basic-error: #BA2732;
}


body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;

  color: var(--basic-black);

  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.page a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.button {
  padding-top: 13px;
  padding-bottom: 9px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-red);

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red-light);
}

.button:active {
  background-color: var(--basic-red-dark);
}


.main-header__top {
  background-color: var(--basic-blue-darken);
}

.section-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.logo {
  background-color: var(--basic-red);
}

.logo:active {
  background-color: var(--basic-red-dark);
}


.main-nav__search input {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);

  background-color: transparent;
  border: none;
}

.main-nav__search input:focus {
  background-color: var(--basic-white);
}
.main-nav__search input:focus::placeholder {
  color: var(--basic-black);
}

.main-nav__search input::placeholder {
  color: var(--basic-white);
}

.user-menu__item a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.user-menu__item a:active {
  background-color: var(--color-blackdark);
  color: var(--basic-white-transparent-50);
}

.pay a {
  background-color: var(--basic-green);
}

.pay a:hover,
.pay a:focus {
  background-color: var(--basic-green-light);
}

.pay a:active {

  background-color: var(--basic-green);
}

.main-header__middle {
  background-color: var(--basic-grey-light);
}

.main-header__description {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.main-header__contacts a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.main-header__contacts p {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue-dark);
}

.autorization__button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.autorization__button:hover,
.autorization__button:focus {
  color: var(--basic-red);
}

.autorization__button:active {
  color: var(--basic-grey);
}

.autorization--active .autorization__login,
.autorization--active .autorization__registration {
  display: none;
}


.autorization__user {
  display: none;
}

.autorization--active .autorization__user {
  display: block;
}

.autorization__list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.autorization__link {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-dark);
}

.autorization__link:hover,
.autorization__link:focus {
  color: var(--basic-red);
}

.autorization__link:active {
  color: var(--basic-grey);
}

.autorization--active .autorization__list {
  display: block;
}

.main-header__nav {
  background-color: var(--basic-grey-light);
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--basic-blue-dark);

  list-style: none;
}

.main-nav__link {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.page-main__title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-dark);
  text-transform: uppercase;

  background-color: var(--basic-grey-light);
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: var(--basic-flax-color);
}

.filter__form legend {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter__form label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--basic-black);
  text-transform: uppercase;

  cursor: pointer;
}

.filter__range {
  background-color: var(--basic-flax-color);
}

.range__price input {
  background-color: var(--basic-flax-color);
  border: none;
}

.filter__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);

  cursor: pointer;
}

.sort {
  background-color: var(--basic-flax-color);
}

.sort h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sort__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black-transparent-30);
  text-transform: uppercase;
}

.sort__link--active {
  color: var(--basic-red);
}

.sort__buttons-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__link,
.pagination__next {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.pagination__link--active {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* promo */

.promo__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__item h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: var(--basic-white);
}

.promo__link {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-white-transparent-30);
}

.promo__item:nth-child(1) {
  background-color: var(--special-yellow);
}

.promo__item:nth-child(2) {
  background-color: var(--special-blue-sky);
}

.promo__item:nth-child(3) {
  background-color: var(--special-pink);
}

.promo__item:nth-child(4) {
  background-color: var(--special-green);
}

.promo__item:nth-child(5) {
  background-color: var(--special-yellow-dark);
}


.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.slider__item p {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider__control {
  margin: 0;
  padding: 0;

  list-style: none;
}

.section-header {
  background-color: var(--basic-section-header-bgcolor);
}

.section-header h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-dark);
  text-transform: uppercase;
}

.products__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.products__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: var(--basic-black);
}

.products__old-price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--old-price-color);
  text-decoration-line: line-through;
}

.products__price {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);

  background-color: var(--basic-red);
}

.maker__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service {
  background-color: var(--basic-grey-light);
}

.service__text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.service__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service__link {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);

  background-color: var(--basic-blue-dark);
}

.service__link:hover,
.service__link:focus {
  color: var(--basic-white);
  background-color: var(--basic-blue-darken);
}

.service__link--active {
  color:  var(--basic-blue-dark);
  background-color: var(--basic-white);
}


.service-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-slider__title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-dark);
  text-transform: uppercase;
}

.service-slider__text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black);
}

.about-us p,
.contacts p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black);
}

.about-us  ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us  li {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.facts {
  background-color: var(--basic-grey-light);
}

.facts p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.main-footer {
  background-color: var(--basic-blue-dark);
}

.footer-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav__link {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey-light);
}

.main-footer__bottom {
  background-color: var(--basic-blue-darken);
}

.main-footer__contacts p {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey-light);
}

.main-footer__contacts a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey-light);
}

.second-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.second-nav__link {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellow-light);
}

.social__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__bottom p {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.main-footer__bottom a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellow-light);
}
